@import '@fontsource/italianno';
@import '@fontsource-variable/montserrat';

:root {
  --text-color-default: #000;
  --bg-color-default: #fff;
  --border-color-default: #808080;

  --font-default: 'Montserrat Variable', sans-serif;
  --font-cursive: 'Italianno', cursive;

  --font-xs: 0.75rem/1rem var(--font-default);
  --font-sm: 0.875rem/1.25rem var(--font-default);
  --font-md: 1rem/1.5rem var(--font-default);
  --font-lg: clamp(1rem, 3vw, 1.5rem) / 2rem var(--font-default);
  --font-xl: clamp(1.5rem, 5vw, 2.25rem) / 2.5rem var(--font-default);
  --font-xxl: clamp(3rem, 10vw, 6rem) / 1 var(--font-default);
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
a {
  font-family: var(--font-default);
}

body {
  margin: 0;
  padding-top: 48px;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-color-default);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
}
