---
import type { Annotation } from '@model';

type Props = Annotation;

const { key, text } = Astro.props;
---

<div>
  <a id={`cite_note-${key}`} href={`#cite_ref-${key}`}>: </a>
  {text}
</div>

<style>
  div {
    font: var(--font-xs);
    text-wrap: wrap;
  }
  a {
    color: var(--text-color-link);
  }
  a::before {
    counter-increment: annotationNote;
    content: counter(annotationNote);
    text-decoration: underline;
  }
</style>
