---
interface Props {
  title: string;
  href: string;
}

const { title, href } = Astro.props;
---

<a
  href={href}
  class="border-8 border-double border-gray-500 w-72 h-32 flex justify-center items-center"
>
  <div class="text-2xl text-center">{title}</div>
</a>
