---
interface Props {
  title: string;
  href: string;
}

const { title, href } = Astro.props;
---

<a href={href}>
  <div>{title}</div>
</a>

<style lang="scss">
  a {
    border: 6px double var(--border-color-default);
    height: clamp(80px, 15vw, 128px);
    aspect-ratio: 2/1;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      text-decoration: underline;
    }

    & > div {
      font: var(--font-lg);
      text-align: center;
    }
  }
</style>
