---
import { type Motto } from '@model';
import AnnotationMarker from './AnnotationMarker.astro';

interface Props extends Motto {}

const { text, author, translation } = Astro.props;
---

<section>
  <pre><AnnotationMarker text={text} /></pre>
  <pre class="author"><AnnotationMarker text={author} /></pre>
  {
    translation && (
      <pre>
        <AnnotationMarker text={translation} />
      </pre>
    )
  }
</section>

<style lang="scss">
  section {
    margin-bottom: 16px;
  }

  pre {
    font: var(--font-sm);
    text-align: right;

    &.author:has(+ *) {
      margin-bottom: 8px;
    }
  }
</style>
