---
import { type Motto } from '@model';

interface Props extends Motto {}

const { text, author, translation } = Astro.props;
---

<section>
  <pre>{text}</pre>
  <pre class="author">{author}</pre>
  {translation && <pre>{translation}</pre>}
</section>

<style lang="scss">
  section {
    margin-bottom: 16px;
  }

  pre {
    font: var(--font-sm);
    text-align: right;

    &.author:has(+ *) {
      margin-bottom: 8px;
    }
  }
</style>
