---
import AnnotationMarker from './AnnotationMarker.astro';

type Props = {
  note: string;
};

const { note } = Astro.props;
---

<span><AnnotationMarker text={note} /></span>

<style>
  span {
    display: block;
    text-align: center;

    font: var(--font-xs);
  }
</style>
